<div class="jumbotron">
  <h1>Ask for Help </h1>
</div>
<form action="/addQuestion" method="post">
      <div class="form-group">
        <label for="subject">Question Category</label>
        <input type="text" name="subject" value="" class=" form-control">
      </div>
      <!--<div class="form-group">
        <label for="meeting">Meeting URL</label>
        <input type="text" name="meeting" value="<=meeting%>" class=" form-control">
      </div>-->
      <h5><b>Your Question</b></h5>
        <textarea name="question" rows="5" cols="200"></textarea>
      <br>
      <br>
      <input class="btn btn-info" type="submit" value="Submit">
      <br>
</form>
