  <div class="jumbotron">
    <h1> Academic Helper</h1>
    <p>Welcome to the Academic Helper</p>
    <ul>
      <!--<li><a href="/dbdemo">See database API </a></li>-->
      <% if (loggedIn) {%>
      <li><a href="/profile">See Your Profile </a></li>
      <!--<li><a href="/profiles">See People in Your Meeting</a></li>-->
      <!--<li><a href="/todo">See your to do list </a></li>-->
      <!--<li><a href="/todoAjax">See your to do list with Ajax </a></li>-->
      <li><a href="/showMeeting">See your meetings</a></li>
      <li><a href="/addMeeting">Add meeting to your schedule</a></li>
      <li><a href="/addQuestion">Ask Assignment Help</a></li>
      <li><a href="/showQuestions">See Question and Answer</a></li>
      <!--<li><a href="/about">About</a></li>-->
      <% } %>
    </ul>
  </div>
